setuptools
wheel


fastapi
uvicorn
python-dotenv
pydantic

# LangChain
langchain
langchain-google-genai
langchain-community

# Vector DB
faiss-cpu

# Data
pandas


# for voice

python-multipart     # FastAPI file upload support
openai-whisper     # OpenAI Whisper (runs fully locally, free, no API key needed)
torch                 # Required by Whisper
ffmpeg-python       # Audio format conversion (WAV/MP3 → compatible format)
# pydub
# pyaudioop